{% extends "index.html" %}


{% block content %}

    <div class="row">

            <img src="static/img/ai_img3.png" alt="Norway" style="width:100%;">

    </div>
        <br>
        <h2>Projects Description:</h2>
        <ul>
          <li><b>ML model based projects</b></li>
            <p>1. Employee Churn Prediction</p>
            <p>2. Heart Stroke Prediction</p>

          <li><b>CNN models based projects</b></li>
            <p>3. Employee Churn Prediction</p>
            <p>4. Heart Stroke Prediction</p>

          <li><b>NLP projects</b></li>
            <p>5. Spam Message Classifier</p>

        </ul>


{% endblock %}
