{% extends "index.html" %}


{% block content %}

    <div class="row">

            <img src="static/img/ai_img3.png" alt="Norway" style="width:100%;">

    </div>
        <br>
        <br>
        <div>
            <h2>Projects</h2>
            <p>Click on the below project images for details</p>
            <br>

            <table>
                <tr>
                   <td><img src="static/img/emp_att_icon5.jpg" alt=" " style="width:100%;"></td>
                    <td><img src="static/img/hrt_strk_icon5.jpg" alt=" " style="width:100%;"></td>
                    <td><img src="static/img/emailspam_icon.JPG" alt=" " style="width:100%;"></td>
                </tr>
                <tr>
                    <td><img src="static/img/pneumnia_icon.jpg" alt=" " style="width:100%;"></td>
                    <td><img src="static/img/brain_tumr_icon.jpg" alt=" " style="width:100%;"></td>
                    <td><img src="static/img/malaria_icon.JPG" alt=" " style="width:100%;"></td>
                </tr>
            </table>

        </div>


{% endblock %}
